# Environment variables. Fill these in and rename to .env

PORT=
PROJECT_ID=
BOT_TOKEN=
WEBHOOK_URL=
DATABASE_URL=
BOT_NAME=
API_TIMEOUT=
DEFAULT_CURRENCY=
SECRET_KEY=
ACCESS_TOKEN_EXPIRE_HOURS=
WEBHOOK_DOMAIN=
WEBHOOK_PATH=
